.env
*.lock
vendor/
node_modules/
.vscode/
mobile/cata_junto_mobile/**/*.class
mobile/cata_junto_mobile/**/*.log
mobile/cata_junto_mobile/**/*.pyc
mobile/cata_junto_mobile/**/*.swp
mobile/cata_junto_mobile/**/.DS_Store
mobile/cata_junto_mobile/**/.atom/
mobile/cata_junto_mobile/**/.build/
mobile/cata_junto_mobile/**/.buildlog/
mobile/cata_junto_mobile/**/.history
mobile/cata_junto_mobile/**/.svn/
mobile/cata_junto_mobile/**/.swiftpm/
mobile/cata_junto_mobile/**/migrate_working_dir/
mobile/cata_junto_mobile/**/*.iml
mobile/cata_junto_mobile/**/*.ipr
mobile/cata_junto_mobile/**/*.iws
mobile/cata_junto_mobile/**/.idea/
mobile/cata_junto_mobile/**/doc/api/
mobile/cata_junto_mobile/**/ios/Flutter/.last_build_id
mobile/cata_junto_mobile/.dart_tool/
mobile/cata_junto_mobile/.flutter-plugins-dependencies
mobile/cata_junto_mobile/.pub-cache/
mobile/cata_junto_mobile/.pub/
mobile/cata_junto_mobile/build/
mobile/cata_junto_mobile/coverage/
mobile/cata_junto_mobile/app.*.symbols
mobile/cata_junto_mobile/app.*.map.json
mobile/cata_junto_mobile/android/app/debug
mobile/cata_junto_mobile/android/app/profile
mobile/cata_junto_mobile/android/app/release
mobile/cata_junto_mobile/.widget_preview/